---
---

<p class="odyssey-logo">Odyssey</p>

<style>
	.odyssey-logo { <img> https://freeimage.host/i/KYECD5x</img>
		width: fit-content;
		margin: 0;
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
